<%- include('./header', {}) %>

<link href="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" rel="stylesheet"/>
<link href="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css" rel="stylesheet"/>
<script src="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>

<title><%= __('viewer.head.title') %></title>
<script>
$(function(){
  getTransactions();
});

function getTransactions(){
  $('.blocks').html( '' );
  var obj = getBusyOverlay( 'viewport', {color:'black', opacity:0.5, text:'loading', style:'text-decoration:blink; font-weight:bold; font-size:12px; color:white;' } );
  $.ajax({
    type: 'GET',
    url: '/transactions',
    success: function( result ){
      obj.remove();
      //console.log( result );
      var transactions = result.result;
      console.log( '#transactions = ' + transactions.length );
      for( var i = 0; i < transactions.length; i ++ ){
        var transaction = transactions[i];

        //var li = "<li>" + JSON.stringify( transaction, 2, null ) + "</li>";
        var li = "<li>" + transaction.transactionTimestamp + "</li>";
        $('.blocks').append( li );

        /*
        //. Add Indicator
        var li = "<li data-target='#carousel-example-generic' data-slide-to='" + i + "' id='indicator-for-" + transaction.transactionId + "'></li>";
        $('#carousel-indicators').append( li );

        //. Add Inner
        var div = "<div class='item' id='item-for-" + transaction.transactionId + "'>"
          + "<div style='background:#333; color:#fff'>"
          + "<div><pre id='pre-for-" + transaction.transactionId + "'>" + JSON.stringify( transaction, null, 2 ) + "</pre></div>"
          + "</div>"
          + "<div class='carousel-caption'>"
          + transaction.transactionId + " (" + transaction.transactionTimestamp + ")"
          + "</div>"
          + "</div>";
        $('#carousel-inner').append( div );

        if( i == transactions.length - 1 ){
          $('#indicator-for-' + transaction.transactionId).addClass( 'active' );
          $('#item-for-' + transaction.transactionId).addClass( 'active' );
        }
        */
      }

      $('.blocks').slick({
        accessibility: true,
        centerMode: true,
        centerPadding: '60px',
        slidesToShow: 5,
        slidesToScroll: 1,
        dots: true,
        //dotsClass: 'dot-class',
        arrows: true,
        adaptiveHeight: true,
        initialSlide: transactions.length - 3,
        infinite: false
      });
    },
    error: function( err ){
      obj.remove();
      console.log( err );
    }
  });
}
</script>
</head>
<body>

<ul id="blocks" class="blocks">
</ul>

</body>
</html>
